{% extends 'layouts/base.html' %}

{% block title %}Ajouter un artiste{% endblock %}

{% block content %}
<section class="form-page">
    <h1>Ajouter un artiste</h1>
    <form action="{% url 'catalogue:artist-create' %}" method="post" class="form-card">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="actions">
            <button class="button button-primary" type="submit">Ajouter</button>
            <a class="button" href="{% url 'catalogue:artist-index' %}">Annuler</a>
        </div>
    </form>
</section>
{% endblock %}
